html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #000;
}

p {
  text-align: left;
}

a {
  padding: .5rem .75rem;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #555;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.img-flex {
  display: block;
  width: 100%;
}
